:root {
  /* Colors */
  --white: #ffffff;
  --black: #000000;
  --gray-950: #131518;
  --gray-900: #262e38;
  --gray-500: #969fad;
  --orange-500: #fc7614;
  --gradient-1: radial-gradient(#232a34 0%, #181e27 100%);

  /* Font Weights */
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;
  --font-extralight: 200;
  --font-thin: 100;

  /* Font Sizes */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 0.9375rem; /* 15px */
  --font-size-lg: 1rem; /* 16px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-2xl: 1.75rem; /* 28px */

  /* Spacing */
  --spacing-0: 0rem; /* 0px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-1300: 6.5rem; /* 104px */
  --spacing-1700: 8.5rem; /* 8.5rem */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--gray-950);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-1 {
  font-size: var(--font-size-2xl);
  letter-spacing: 0;
  font-weight: var(--font-bold);
  line-height: 2.1875rem;
}

.text-2 {
  font-size: var(--font-size-xl);
  letter-spacing: 0;
  font-weight: var(--font-bold);
  line-height: 1.875rem;
}

.text-3 {
  font-size: var(--font-size-lg);
  letter-spacing: 0.0125rem;
  font-weight: var(--font-bold);
  line-height: 1.5rem;
}

.text-4-bold {
  font-size: var(--font-size-md);
  letter-spacing: 0.125rem;
  font-weight: var(--font-bold);
  line-height: 1.1875rem;
}

.text-4-regular {
  font-size: var(--font-size-md);
  letter-spacing: 0;
  font-weight: var(--font-regular);
  line-height: 1.5rem;
}

.text-5-bold {
  font-size: var(--font-size-sm);
  letter-spacing: 0.1169rem;
  font-weight: var(--font-bold);
  line-height: 1.125rem;
}

.text-5-semibold {
  font-size: var(--font-size-sm);
  letter-spacing: 0.0106rem;
  font-weight: var(--font-semibold);
  line-height: 1.5rem;
}

.text-5-regular {
  font-size: var(--font-size-sm);
  letter-spacing: 0;
  font-weight: var(--font-regular);
  line-height: 1.375rem;
}

.button-primary {
  width: 21.9375rem;
  font-size: var(--font-size-sm);
  letter-spacing: 0.0106rem;
  font-weight: var(--font-semibold);
  line-height: 1.5rem;
  color: var(--gray-950);
  background: var(--orange-500);
  border-radius: 1.4063rem;
  border: none;
  padding: 0.7813rem 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-transform: uppercase;
}

.button-primary:hover {
  background: var(--white);
}

.select-button {
  color: var(--gray-500);
  font-size: var(--font-size-lg);
  letter-spacing: 0.0125rem;
  font-weight: var(--font-bold);
  line-height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: var(--gray-900);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 3.1875rem;
  height: 3.1875rem;
}

.select-button:hover {
  background-color: var(--orange-500);
  color: var(--gray-900);
}

.select-button.active {
  background-color: var(--white);
  color: var(--gray-900);
}

.text-white {
  color: var(--white);
}

.text-gray-500 {
  color: var(--gray-500);
}

.container {
  width: 21.9375rem;
  padding: 2.1563rem 1.9063rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  border-radius: 1.875rem;
  background: var(--gradient-1);
}

.container > div:nth-child(1) {
  width: 3rem;
  height: 3rem;
  background-color: var(--gray-900);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.container > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.container > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  gap: var(--spacing-300);
}